

<% include head %>
<!--<div id="wrapper">-->
<% include nav %>
<!-- /.内容-->
<div id="page-wrapper">
    <div class="row">
        <br />
    </div>
    <div class="row">
        <h1> Error: <%- error %></h1>
    </div>
</div>
<!-- /.内容-->
<!--</div>-->
<% include foot %>
