
<% include head %>
<!--<div id="wrapper">-->
<% include nav %>
<!-- /.内容-->
<div id="page-wrapper">
    <div class="row feature">

    <div class="col-lg-4 col-md-4  col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading ">
          <h1 class="panel-title feature-heading"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> DOS攻击测试</h1>
        </div>
        <div class="panel-body">
          <img src="/image/ddos.jpg" class="img-rounded img-responsive ">
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 支持icmp/tcp/udp协议类型</p>
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 支持多傀儡主机</p>
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 实时攻击流量统计</p>
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 攻击状态可视化</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4  col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title feature-heading"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> 主机扫描</h1>
        </div>
        <div class="panel-body">
          <img src="/image/1.jpg" class="img-rounded img-responsive ">
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 全面TCP端口扫描</p>
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 智能判断端口合法性</p>
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 判断规则自行定义</p>
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 支持扫描历史查询</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title feature-heading"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> SSL检测</h1>
        </div>
        <div class="panel-body">
          <img src="/image/ssl.png" class="img-rounded img-responsive ">
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 证书来源自权威机构</p>
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 证书的时间有效</p>
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 证书主体身份与实际相吻合</p>
          <p class="feature-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 证书加密强度复合要求</p>
        </div>
      </div>
    </div>
  </div>

    <div class="row col-md-8">
        <address><strong>查看猎鹰源码</strong> <a href="https://git.oschina.net/cxueqin/falcon">https://git.oschina.net/cxueqin/falcon</a></address>
    </div>
</div>
<!-- /.内容-->
<!--</div>-->
<% include foot %>
