
<% include head %>

<div class="container">
    <div class="row">
      <!--
        <div class="col-md-4 col-md-offset-4">
            <h1>网络安全系统测试工具</h1>
        </div>
      -->
        <div class="col-md-4 col-md-offset-8">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">欢迎使用猎鹰网络安全检测系统</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="loginForm" action="/login" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="账号" name="username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="密码" name="password" type="password" value="">
                            </div>
                            <input  type="submit" class="btn btn-lg btn-success btn-block" id="login_btn"></input>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<% include foot %>
