<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <img src="/image/cornor.png" class="navbar-cornor">
        <a class="navbar-brand" href="/">网络安全系统测试工具</a>
    </div>
    <!-- /.网页右上方的按钮 -->
    <ul class="nav navbar-top-links navbar-right">
        <!-- /.用户账号设置 -->
        <li>
          <a id="bookmarkme" href="#" rel="sidebar" title="收藏本页">收藏</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                账号 <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                  <a href="#"><i class="fa fa-user fa-fw"></i> 修改密码</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                </li>
            </ul>
        </li>
        <!-- /.用户账号设置 -->
    </ul>
    <!-- /.网页右上方的按钮 -->
    <!-- /.工具栏 -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav nav-list">
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 功能</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> 主机攻击</a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href = "/ui/ddos">DOS攻击</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> 主机扫描</a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href = "/ui/nmap/exec">执行扫描</a>
                                </li>
                                <!--
                                <li>
                                    <a href = "/ui/nmap/setup">规格配置</a>
                                </li>
                                 -->
                                <li>
                                    <a href = "/ui/nmap/history">扫描历史</a>
                                </li>
                            </ul>
                        </li>
                        <!--
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 弱密码扫描</a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href = "/ui/pwd/exec">执行扫描</a>
                                </li>
                                <li>
                                    <a href = "/ui/pwd/dict/user">帐号规格</a>
                                </li>
                                <li>
                                    <a href = "/ui/pwd/dict/pwd">密码规格</a>
                                </li>
                                <li>
                                    <a href = "/ui/pwd/history">扫描记录</a>
                                </li>
                            </ul>
                        </li>
                      -->
                    </ul>
                </li>
            </ul>
            <!-- /.左侧栏-->
        </div>
    </div>
    <!-- /.工具栏 -->
</nav>
