<!--
<div class="tree">
			    <ul role="tree">
			        <li class="parent_li" role="treeitem">
			            <span title="Collapse this branch"><i class="icon-folder-open"></i> GlobalSign Root CA</span>
			            <ul role="group">
			                <li class="parent_li" role="treeitem">
			                	<span title="Collapse this branch"><i class="icon-minus-sign"></i> GlobalSign Organization Validation CA - SHA256 - G2</span>
			                    <ul role="group">
			                        <li>
				                        <span><i class="icon-leaf"></i> baidu.com</span>
			                        </li>
			                    </ul>
			                </li>
			            </ul>
			        </li>
			    </ul>
			</div>
-->

<ul class="list-group">
  <li class="list-group-item level1"><i class="fa fa-certificate" aria-hidden="true"></i> GlobalSign Root CA</span></li>
  <li class="list-group-item level2"><i class="fa fa-certificate" aria-hidden="true"></i> GlobalSign Organization Validation CA - SHA256 - G2</li>
  <li class="list-group-item level3"><i class="fa fa-certificate" aria-hidden="true"></i> baidu.com</li>
</ul>
